html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(224, 224, 224);
}

img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-control {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  width: 500px;
  height: 50px;
  outline: none;
  padding: 10px 20px;
  margin-right: 20px;
  border-width: 2px;
  border-color: rgb(97, 97, 97);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(97, 97, 97);
  box-shadow: none;
}

.form-control::placeholder {
  color: rgb(97, 97, 97);
}

.search-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  outline: none;
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(97, 97, 97);
  color: rgb(255, 255, 255);
  box-shadow: none;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button > .spinner.is-hidden {
  display: none;
}

.button.is-hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  list-style: none;
  max-width: calc(100vw - 80px);
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.stats-item {
  display: flex;
  align-items: center;
  color: rgb(97, 97, 97);
}

.material-icons {
  margin-right: 5px;
}

.anchor {
  height: 4px;
}

.photo-card {
  border-width: 1px;
  border-color: rgb(97, 97, 97);
}
